<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="./assets/app-icon.svg" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/separate-company.css" />
  </head>
  <body>
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid mx-lg-5">
        <a class="navbar-brand" href="/">
          <img
            src="./assets/website_logo.svg"
            alt="Navigation Logo"
            width="210"
            height="45"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse desktop-nav-links"
          id="navbarNavDropdown"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link text-uppercase fw-bold"
                aria-current="page"
                href="/"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-uppercase fw-bold"
                aria-current="page"
                href="/job-listings"
                >Offers</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-uppercase fw-bold"
                aria-current="page"
                href="/company-overview"
                >Companies</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-uppercase fw-bold"
                aria-current="page"
                href="/who-we-are"
                >Who we are</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-uppercase fw-bold"
                aria-current="page"
                href="/recommendations"
                >Recommendations</a
              >
            </li>
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav gap-2">
            <li class="nav-item dropdown d-flex align-items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                fill="currentColor"
                class="bi bi-person"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"
                />
              </svg>
              <a
                class="nav-link dropdown-toggle fw-bold"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Profile
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <% if (user) { %> <% if(user.role === 'recruiter') {%>
                <li class="d-flex">
                  <a class="dropdown-item d-flex gap-3" href="/verify-employer">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-columns-gap"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"
                      />
                    </svg>
                    Dashboard</a
                  >
                </li>
                <% } else { %>
                <li class="d-flex">
                  <a class="dropdown-item d-flex gap-3" href="/who-we-are">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-columns-gap"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"
                      />
                    </svg>
                    Dashboard</a
                  >
                </li>
                <% } %>
                <li class="d-flex">
                  <a class="dropdown-item d-flex gap-3" href="/logout">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-box-arrow-left"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"
                      />
                    </svg>
                    Sign out</a
                  >
                </li>
                <% } else { %>
                <li class="d-flex">
                  <a class="dropdown-item d-flex gap-3" href="/login">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-box-arrow-in-right"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"
                      />
                      <path
                        fill-rule="evenodd"
                        d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"
                      /></svg
                    >Log in</a
                  >
                </li>
                <li class="d-flex">
                  <a class="dropdown-item d-flex gap-3" href="/register">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="25"
                      height="25"
                      fill="currentColor"
                      class="bi bi-plus-circle"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                      />
                      <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                      />
                    </svg>
                    Create account</a
                  >
                </li>
                <% } %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--  -->

    <section id="separate-company container py-5">
      <div class="company-head container-fluid p-0">
        <img
          src="https://images.unsplash.com/photo-1531973576160-7125cd663d86?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Company Image"
          class="fluid-image object-fit-cover w-100"
        />

        <div
          class="company-head-details container d-flex flex-column p-5 gap-3"
        >
          <div class="d-flex justify-content-between">
            <div class="d-flex gap-3">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png"
                alt="Company Logo"
                class="head-company-logo"
              />
              <div class="d-flex flex-column gap-2">
                <span class="fw-bold fs-4">Pinterest</span
                ><span class="fs-5"
                  >Discover, save and share creative ideas online.</span
                >
              </div>
            </div>
            <div class="d-flex gap-3">
              <button class="share-company-btn p-2">
                <i class="bi bi-share"></i>
              </button>
              <button class="btn follow-company-btn fw-medium p-2">
                <i class="bi bi-plus-lg"></i> Follow
              </button>
            </div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column gap-1">
              <span>Website</span>
              <span class="fw-bolder"
                ><a
                  href="https://pinterest.com"
                  target="_blank"
                  class="text-primary"
                  >pinterest.com</a
                ></span
              >
            </div>
            <div class="d-flex flex-column gap-1">
              <span>Location</span>
              <span class="fw-bolder">Sofia, Bulgaria</span>
            </div>
            <div class="d-flex flex-column gap-1">
              <span>Company Size</span>
              <span class="fw-bolder">10-50 Employees</span>
            </div>
            <div class="d-flex flex-column gap-1">
              <span>Company Industry</span>
              <span class="fw-bolder">IT (Information Technology)</span>
            </div>
          </div>
        </div>
      </div>

      <main class="container d-flex justify-content-between">
        <div class="main-left-col col-6">
          <div class="company-about d-flex flex-column gap-3">
            <span class="h4">About Pinterest</span>
            <div>
              <p style="text-align: justify">
                At JobConqueror, we're dedicated to transforming career
                aspirations into reality. Our platform stands as a dynamic hub
                for job seekers, offering a curated selection of high-quality
                job listings across diverse industries. With a user-friendly
                interface, we simplify the job search process, providing
                individuals with the tools they need to conquer their dream
                roles. Join JobConqueror to explore exceptional opportunities
                and embark on a journey towards professional success...
                <a href="#" class="text-primary">Read more</a>
              </p>
            </div>
          </div>
          <div class="company-job-offers d-flex flex-column gap-3 my-4">
            <div class="d-flex justify-content-between">
              <span class="h4">Jobs From Pinterest</span>
              <a href="#" class="text-primary">View All Jobs</a>
            </div>
            <div class="company-job-offer d-flex flex-column gap-2">
              <div class="d-flex flex-column gap-3 p-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png"
                      alt="Job offer company logo"
                    />
                    <div class="d-flex flex-column justify-content-between">
                      <span class="fw-bold fs-5">Web Developer</span>
                      <span>Sofia, Bulgaria</span>
                    </div>
                  </div>
                  <i class="bi bi-bookmark-fill fs-5"></i>
                </div>
                <div class="company-job-offer-keywords d-flex gap-2">
                  <div><span class="p-1">Full Time</span></div>
                  <div><span class="p-1">Remote</span></div>
                  <div><span class="p-1">2-4 years</span></div>
                </div>
                <div>
                  <span class="text-body-secondary"
                    >5 days ago | 135 applicants</span
                  >
                </div>
              </div>
            </div>
            <div class="company-job-offer d-flex flex-column gap-2">
              <div class="d-flex flex-column gap-3 p-3">
                <div class="d-flex justify-content-between">
                  <div class="d-flex gap-2">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png"
                      alt="Job offer company logo"
                    />
                    <div class="d-flex flex-column justify-content-between">
                      <span class="fw-bold fs-5">Back-end engineer</span>
                      <span>Varna, Bulgaria</span>
                    </div>
                  </div>
                  <i class="bi bi-bookmark fs-5"></i>
                </div>
                <div class="company-job-offer-keywords d-flex gap-2">
                  <div><span class="p-1">Internship</span></div>
                  <div><span class="p-1">Onsite</span></div>
                  <div><span class="p-1">Fresh Graduate</span></div>
                </div>
                <div>
                  <span class="text-body-secondary"
                    >5 days ago | 135 applicants</span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="company-images">
            <span class="h4">Life at Pinterest</span>
            <div class="images-block row g-2 my-4">
              <div class="col-md-8">
                <img
                  src="https://images.pexels.com/photos/3184430/pexels-photo-3184430.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  alt=""
                  class="w-100"
                />
              </div>
              <div class="col-md-4 d-flex flex-column gap-2">
                <div>
                  <img
                    src="https://images.pexels.com/photos/2467506/pexels-photo-2467506.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt=""
                    class="w-100"
                  />
                </div>
                <div class="position-relative">
                  <div
                    class="overlay-image position-absolute h-100 w-100 d-flex justify-content-center align-items-center"
                    data-bs-toggle="modal"
                    data-bs-target="#imagesCarousel"
                  >
                    <span class="text-white opacity-100">See more</span>
                  </div>
                  <img
                    src="https://images.pexels.com/photos/3184428/pexels-photo-3184428.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt=""
                    class="w-100"
                  />
                </div>
              </div>
            </div>
            <!-- Images carousel -->

            <!-- Modal -->
            <div
              class="modal fade"
              id="imagesCarousel"
              tabindex="-1"
              aria-labelledby="imagesCarouselLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-xl">
                <div class="modal-content">
                  <!-- <div class="modal-header">
                    <h1 class="modal-title fs-5" id="imagesCarouselLabel">
                      Modal title
                    </h1>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div> -->
                  <div class="modal-body p-0">
                    <div
                      id="carouselExampleAutoplaying"
                      class="carousel slide"
                      data-bs-ride="carousel"
                    >
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img
                            src="https://images.pexels.com/photos/3184430/pexels-photo-3184430.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="d-block w-100"
                            alt="Carousel images"
                          />
                        </div>
                        <div class="carousel-item">
                          <img
                            src="https://images.pexels.com/photos/2467506/pexels-photo-2467506.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="d-block w-100"
                            alt="Carousel images"
                          />
                        </div>
                        <div class="carousel-item">
                          <img
                            src="https://images.pexels.com/photos/3184428/pexels-photo-3184428.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="d-block w-100"
                            alt="Carousel images"
                          />
                        </div>
                      </div>
                      <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="prev"
                      >
                        <span
                          class="carousel-control-prev-icon"
                          aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselExampleAutoplaying"
                        data-bs-slide="next"
                      >
                        <span
                          class="carousel-control-next-icon"
                          aria-hidden="true"
                        ></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="company-benefits">
            <span class="h4">Benefits and Perks</span>
            <div
              class="benefits-block d-flex justify-content-around gap-3 my-4 p-3"
            >
              <div class="d-flex flex-column gap-3">
                <div class="d-flex gap-3 align-items-center">
                  <div
                    class="benefit-icon p-3 d-flex justify-content-center align-items-center"
                  >
                    <i class="bi bi-shield-plus"></i>
                  </div>
                  <div>
                    <span
                      >Healthcare <br />
                      Benefits</span
                    >
                  </div>
                </div>
                <div class="d-flex gap-3 align-items-center">
                  <div
                    class="benefit-icon p-3 d-flex justify-content-center align-items-center"
                  >
                    <i class="bi bi-lungs"></i>
                  </div>
                  <div>
                    <span
                      >Wellness <br />
                      Benefits</span
                    >
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column gap-3">
                <div class="d-flex gap-3 align-items-center">
                  <div
                    class="benefit-icon p-3 d-flex justify-content-center align-items-center"
                  >
                    <i class="bi bi-heart-pulse"></i>
                  </div>
                  <div>
                    <span
                      >Sick <br />
                      Leave</span
                    >
                  </div>
                </div>
                <div class="d-flex gap-3 align-items-center">
                  <div
                    class="benefit-icon p-3 d-flex justify-content-center align-items-center"
                  >
                    <i class="bi bi-gift"></i>
                  </div>
                  <div>
                    <span
                      >Birthday <br />
                      Salary</span
                    >
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column gap-3">
                <div class="d-flex gap-3 align-items-center">
                  <div
                    class="benefit-icon p-3 d-flex justify-content-center align-items-center"
                  >
                    <i class="bi bi-graph-up-arrow"></i>
                  </div>
                  <div>
                    <span
                      >Careers <br />
                      Growth</span
                    >
                  </div>
                </div>
                <div class="more-benefits d-flex gap-3 align-items-center">
                  <div
                    class="more-benefit-icon p-3 d-flex justify-content-center align-items-center"
                  >
                    <i class="bi bi-three-dots-vertical"></i>
                  </div>
                  <div>
                    <a
                      href="#"
                      class="text-primary"
                      data-bs-toggle="tooltip"
                      data-bs-html="true"
                      data-bs-title="
                          <span
                            >Careers 
                            Growth</span
                          >
                          <br />
                          <span
                          >Wellness Benefits</span
                        >
                       "
                      >+5 more</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-right-col col-4">
          <div class="company-other-companies">
            <span class="h4">People Also View</span>
            <div
              class="other-companies-block d-flex flex-column gap-4 p-3 my-4"
            >
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                  <span class="fw-bold">Pinterest</span>
                  <span>Sofia, Bulgaria</span>
                </div>
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png"
                  alt="Other company logo"
                />
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                  <span class="fw-bold">Pinterest</span>
                  <span>Sofia, Bulgaria</span>
                </div>
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png"
                  alt="Other company logo"
                />
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                  <span class="fw-bold">Pinterest</span>
                  <span>Sofia, Bulgaria</span>
                </div>
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png"
                  alt="Other company logo"
                />
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                  <span class="fw-bold">Pinterest</span>
                  <span>Sofia, Bulgaria</span>
                </div>
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png"
                  alt="Other company logo"
                />
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                  <span class="fw-bold">Pinterest</span>
                  <span>Sofia, Bulgaria</span>
                </div>
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png"
                  alt="Other company logo"
                />
              </div>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                  <span class="fw-bold">Pinterest</span>
                  <span>Sofia, Bulgaria</span>
                </div>
                <img
                  src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png"
                  alt="Other company logo"
                />
              </div>
            </div>
          </div>
          <div class="company-location overflow-hidden">
            <span class="h4">Location</span>
            <div class="location-block d-flex flex-column gap-3 p-3 my-4">
              <div class="d-flex gap-2">
                <i class="bi bi-geo-alt"></i>
                <a
                  href="https://maps.app.goo.gl/3LSSdLvQpymJsq7x8"
                  target="_blank"
                  class="text-black"
                  >Ndk, Vitosha Blvd, 1463 Sofia</a
                >
              </div>
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11731.507723081719!2d23.299956387158186!3d42.6851492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa850fb6af8ebb%3A0x87a301b7860955b9!2sNational%20Palace%20of%20Culture!5e0!3m2!1sen!2sbg!4v1706946638195!5m2!1sen!2sbg"
                width="fit-content"
                height="250"
                style="border-radius: 1rem"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
              <div class="d-flex gap-2">
                <i class="bi bi-telephone"></i>
                <a href="tel:+3598258891526" class="text-black"
                  >+359 825 889 1526</a
                >
              </div>
            </div>
          </div>
        </div>
      </main>
    </section>

    <!-- Back to top -->
    <a
      href="#top"
      class="back-top-btn"
      aria-label="back to top"
      data-back-top-btn
    >
      <i class="bi bi-arrow-up back-top-arrow"></i>
    </a>

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white">
      <section class="d-flex justify-content-between p-4 footer-network">
        <div class="me-5">
          <span>Get in touch with us on social networks:</span>
        </div>

        <div>
          <a href="" class="text-white me-4 footer-hover-icon">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="" class="text-white me-4 footer-hover-icon">
            <i class="bi bi-twitter-x"></i>
          </a>
          <a href="" class="text-white me-4 footer-hover-icon">
            <i class="bi bi-google"></i>
          </a>
          <a href="" class="text-white me-4 footer-hover-icon">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="" class="text-white me-4 footer-hover-icon">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="" class="text-white me-4 footer-hover-icon">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </section>

      <section id="footer">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">JobConqueror</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                JobConqueror is a job search platform designed to simplify and
                streamline the job search process. Our platform serves as a
                centralized hub for job seekers and employers, providing a
                user-friendly experience from job listing creation to
                application submission.
              </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                <a href="/contact-us" class="text-white footer-hover"
                  >Contact us</a
                >
              </p>
              <p>
                <a href="#!" class="text-white footer-hover">FAQ</a>
              </p>
              <p>
                <a href="#!" class="text-white footer-hover">Redirect 3</a>
              </p>
              <p>
                <a href="#!" class="text-white footer-hover">Redirect 4</a>
              </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                <a href="#!" class="text-white footer-hover">Redirect 5</a>
              </p>
              <p>
                <a href="#!" class="text-white footer-hover">Redirect 6</a>
              </p>
              <p>
                <a href="#!" class="text-white footer-hover">Redirect 7</a>
              </p>
              <p>
                <a href="#!" class="text-white footer-hover">Redirect 8</a>
              </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
              />
              <p>
                <i class="bi bi-geo-alt"></i>
                <a
                  href="https://www.google.com/maps/place/1463+Ndk,+Sofia/@42.685556,23.3140979,17z/data=!3m1!4b1!4m10!1m2!2m1!1sndk!3m6!1s0x40aa850e376ccf4d:0xe7c973921f32a327!8m2!3d42.6844154!4d23.3191664!15sCgNuZGuSAQxuZWlnaGJvcmhvb2TgAQA!16s%2Fg%2F11g9qgnmg3?entry=ttu"
                  target="_blank"
                  class="footer-hover"
                  >Bulgaria Blvd, 1463 Ndk, Sofia</a
                >
              </p>
              <p>
                <i class="bi bi-envelope"></i>
                <a href="mailto:info@example.com" class="footer-hover"
                  >veskovmark99@gmail.com</a
                >
              </p>
              <p>
                <i class="bi bi-telephone"></i>
                <a href="tel:+0123456788" class="footer-hover"
                  >+01 234 567 88</a
                >
              </p>
              <p>
                <i class="bi bi-telephone"></i>
                <a href="tel:+0123456789" class="footer-hover"
                  >+01 234 567 89</a
                >
              </p>
            </div>
          </div>
        </div>
      </section>

      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2023 Copyright:
        <a class="text-white" href="#">jobconqueror.com</a>
      </div>
    </footer>

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/TextPlugin.min.js"></script>

    <!-- RoughEase, ExpoScaleEase and SlowMo are all included in the EasePack file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/EasePack.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/CustomEase.min.js"></script>
    <!--  -->
    <script type="module" src="./js/animations.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>
</html>
