<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" type="image/x-icon" href="./assets/app-icon.svg" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/not-found-page.css" />
  </head>
  <body>
    <section id="notFoundPage">
      <img src="./assets/page-not-found.svg" alt="404 Not Found Image" />
      <div>
        <h1>Oops! Page not found.</h1>
        <p>We couldn't find the page you're looking for.</p>
        <p>Try searching for a job or check out our popular job listings.</p>
        <a href="/">Go to Homepage</a> |
        <a href="/job-listings">View Job Listings</a>
      </div>
    </section>
  </body>
</html>
