.companies-head {
  background-color: var(--dark-blue);
  position: relative;
  margin: 4rem;
}

.companies-head div {
  color: var(--light-blue);
  font-size: 4rem;
}

.num-companies {
  color: var(--cyan);
  font-size: 6rem;
  padding-right: 1rem;
}

.companies-head img {
  height: 20rem;
  width: 50rem;
  object-fit: cover;
  transform: rotate(-10deg);
}

#companies {
  background-color: white;
  margin-inline: 4rem;
  position: relative;
  overflow: hidden;
}

.rectangle-bg-1 {
  width: 30rem;
  height: 30rem;
  position: absolute;
  background-color: var(--dark-blue);
  top: 0;
  left: -15rem;
  transform: rotate(45deg);
}

.rectangle-bg-2 {
  width: 30rem;
  height: 30rem;
  position: absolute;
  background-color: var(--dark-blue);
  top: 20rem;
  right: -15rem;
  transform: rotate(45deg);
}

.rectangle-bg-3 {
  width: 30rem;
  height: 30rem;
  position: absolute;
  background-color: var(--dark-blue);
  bottom: -10rem;
  left: -15rem;
  transform: rotate(45deg);
}

.best-company-block {
  position: relative;
  border-radius: 1rem;
  height: 350px;
  background-color: var(--light-blue);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 25px #00000014;
}

.best-company-block:hover {
  box-shadow: 0 0 25px #00000049;
}


.banner-main {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 1rem;
}

.logo-main {
  object-fit: cover;
  width: 150px;
  height: 100px;
  border-radius: 1rem;
  border: 1px solid gray;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);
}

.description-main-col {
  width: 33%;
  height: 100%;
}

.company-separate {
  position: relative;
  background-color: var(--light-blue);
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 25px #00000014;
}

.company-separate:hover {
  box-shadow: 0 0 25px #00000049;
}

.banner-sub {
  object-fit: cover;
  width: 100%;
  height: 12.5rem;
  border-radius: 1rem;
}

.logo-sub {
  object-fit: cover;
  width: 35%;
  height: 6rem;
  border-radius: 1rem;
  border: 1px solid gray;
  position: absolute;
  right: 5%;
  bottom: -25%;
}

.separate-offer-link {
  color: var(--dark-blue) !important;
}