.companies-head {
  background-color: var(--dark-blue);
  position: relative;
  margin: 4rem;
}

.companies-head div {
  color: var(--light-blue);
  font-size: 4rem;
}

.num-companies {
  color: var(--cyan);
  font-size: 6rem;
}

.companies-head img {
  height: 20rem;
  width: 50rem;
  object-fit: cover;
  transform: rotate(-10deg);
}

#companies {
  background-color: white;
  margin-inline: 4rem;
}

.best-company-block {
  position: relative;
  border-radius: 1rem;
  height: 350px;
  background-color: var(--light-blue);
}

.banner-main {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 1rem;
}

.logo-main {
  object-fit: cover;
  width: 150px;
  height: 100px;
  border-radius: 1rem;
  border: 1px solid gray;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);
}