.contact-block {
  background-color: var(--blue-gray);
  margin-block: 10rem;
}

.contact-text-1 {
  color: var(--cyan) !important;
}

.contact-text-2 {
  color: var(--light-blue) !important;
}

.btn-contact {

  background-color: var(--cyan) !important;
  color: var(--light-blue) !important;
}

.btn-contact:is(:hover) {
  background-color: var(--blue-gray) !important;
  border: 1px solid var(--light-blue) !important;
}

.ellipse-contact-1 {
  left: -5rem;
  top: 0;
  z-index: -1;
}

.ellipse-contact-2 {
  right: -5rem;
  bottom: 0;
  z-index: -1;
}

.contact-gif {
  width: 35%;
  object-fit: contain;
}

.other-contacts {
  background-color: var(--light-blue);
  border-radius: 3rem;
}

.other-contact-icon-wrapper {
  background-color: var(--dark-blue);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  padding: .25rem;
  font-size: 1.125rem;
  aspect-ratio: 1/1;
  color: var(--light-blue);
}

.other-contact-link {
  color: black !important;
}

#contactLastName,
#contactEmail,
#contactMessage {
  color: white !important;
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid var(--light-blue) !important;
  border-radius: 0 !important;
}

#contactLastName:is(:active, :focus),
#contactEmail:is(:active, :focus),
#contactMessage:is(:active, :focus) {
  border-color: white !important;
  box-shadow: none !important;
}

label[for="contactLastName"],
label[for="contactEmail"],
label[for="contactMessage"] {
  color: white !important;
}

label[for="contactLastName"]::after,
label[for="contactEmail"]::after,
label[for="contactMessage"]::after {
  background-color: transparent !important;
}