.company-head{    
    height: max-content;
}

.company-head .fluid-image{
    height: 17.5rem;

}

.company-head-details{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 25px #00000049;
    transform: translateY(-50%);}

.head-company-logo{
    object-fit: contain;
    width: 5rem;
}

.share-company-btn{
    background-color: white;
    border-radius: .5rem;
    border: 1px solid black;
    height: 3rem;
    width: 3rem;
}

.follow-company-btn{
    height: 3rem;
    width: max-content;
    background-color: var(--cyan) !important;
    color: white !important;
    transition: all 250ms ease-in-out;
}

.follow-company-btn:hover{
    background-color: var(--blue-gray) !important;
}

.company-about,
.company-job-offers,
.company-images,
.company-benefits,
.company-other-companies,
.company-location{
    box-shadow: 0 0 25px #00000049;
    border-radius: 1rem;
    background-color: white;
}