@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  /* Font Family */
  --font-family: "Nunito", sans-serif;
  /* Font Size */
  /* --base-font-size: 16px; */
  /* Colours */
  --dark-blue: #283149;
  --blue-gray: #404B69;
  --cyan: #00818A;
  --light-blue: #DBEDF3;
  /* Box Shadow */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--light-blue) !important;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

/* Navigation bar */
.dropdown-menu {
  background-color: var(--blue-gray) !important;
}

.dropdown-item {
  color: var(--light-blue) !important;
  transition: all 250ms ease-in-out;
}

.dropdown-item:is(:hover, :active, :focus) {
  background-color: var(--dark-blue) !important;
}

.nav-link {
  color: var(--dark-blue) !important;
}

.nav-link:is(:hover, :active, :focus) {
  color: var(--cyan) !important;
}

.nav-link.active {
  color: var(--cyan) !important;
}

@media (min-width: 992px) {
  .navbar-collapse {
    flex-grow: unset !important;
  }
}

/*  */

/* Home Page */

#home {
  margin: 2rem 4rem;
  width: 100%;
  height: 100vh;
  position: relative;
}

.home-title {
  color: var(--dark-blue);
  text-align: left;
  font-size: 4.875rem;
}

.home-title span {
  color: var(--cyan);
}

.home-ellipse-bg {
  position: absolute;
  bottom: 0rem;
  left: -5rem;
}

.home-main-image {
  position: absolute;
  bottom: 6rem;
  right: 5rem;
}

.stats-home {
  color: var(--dark-blue);
  line-height: .8 !important;
}

.btn-search {
  background-color: var(--cyan) !important;
  color: var(--light-blue) !important;
}

.btn-search:is(:hover) {
  background-color: var(--blue-gray) !important;
}

/*  */

/* Categories */
#categories {
  width: 100%;
  position: relative;
}

#categories h2 {
  color: var(--blue-gray);
  font-size: 2.5rem;
}

#categories h4 {
  color: var(--blue-gray);
  font-size: 1.5rem;
}

.categories-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.category {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.category:hover {
  background-color: whitesmoke;
}

.category-title {
  font-weight: bold;
}

.category-title span {
  font-weight: 500;
  opacity: .8;
}

.btn-categories {
  background-color: var(--cyan) !important;
  color: var(--light-blue) !important;
}

.btn-categories:is(:hover) {
  background-color: var(--blue-gray) !important;
}

.ellipse-categories-bg {
  position: absolute;
  bottom: -3rem;
  right: -5rem;
  width: 25%;
  z-index: -1;
}

/*  */