@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  /* Font Family */
  --font-family: "Nunito", sans-serif;
  /* Font Size */
  /* --base-font-size: 16px; */
  /* Colours */
  --dark-blue: #283149;
  --blue-gray: #404B69;
  --cyan: #00818A;
  --light-blue: #DBEDF3;
  /* Box Shadow */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none !important;
}